[color]
	ui = true
[push]
	default = simple
[rebase]
	autostash = true
[include]
	path = ~/.gitconfig.local
[log]
	abbrevCommit = true
[alias]
	lol = log --pretty=format:'%C(yellow)%h%d%Creset%n%C(green)%an   %ai%Creset%n%C(cyan)%cn   %ci%Creset%n%n%w(,4,4)%s%n%n%b%n%N'
[advice]
	detachedHead = false
[sendemail]
	suppresscc = self
	confirm = always
